<h1>wanna search movie this fill the form</h1>
<form action="/results" method="POST">
    <input type="text" placeholder="movieName" name="movie">
    <button type="submit">Submit</button>  
</form>