body{
    /* font-style: italic; */
    font-family: 'Apple Chancery', cursive;
}
.img-thumbnail{
    width: 100%;
    padding: 0%;
}
#navbar{
    padding-left: 55rem;
}
.navbar-brand{
    padding-left:5rem;
}
.form-group{
    width: 40%;
}
.delete-form{
    display: inline;
}