<html>
    <head>
        <title>BlogApp</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="/new.css">
    </head>
    <body>
    <!-- <p>this is header</p> -->
    <div class="ui fixed menu inverted" >
        <div class="ui container">
            <div class="header item"><i class="code icon" style="font-size:2em;"></i> BlogApp</div>
            <a href="/" class="item">Home</a>
             
            <a href="/blogs/new" class="item">New Post</a> 
        </div>
    </div>
