<% include ./partials/header.ejs%>
<h2 class="display-3 text-center">Login</h2>

<br>
<div  class="container ">
    
    <form  style="margin-left:34%;" action="/login" method="POST" class="form-group">
        <input type="text" name="username" class="form-control"  placeholder="Username">
        <br>
        <input class="form-control" type="password" name="password" placeholder="Password">
        <br>
        <div class="text-center">
            <button class="btn btn-outline-info btn-lg "> Login</button>
        </div>
    
    </form>
    
</div>
</div>
